@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* ... 其他颜色 */
  --color-default-color: rgba(0, 0, 0, 0.88);
  --color-default-bg: #ffffff; /* 浅色模式默认为白 */

  /* 定义深色模式下的变量覆盖 */
  --dark-default-color: rgba(255, 255, 255, 0.85);
  --dark-default-bg: #121212; /* 深色模式默认为深灰/黑 */
}

@layer base {
  /* 使用 tailwind v4 的变体逻辑 */
  :root {
    background-color: var(--color-default-bg);
    color: var(--color-default-color);
  }

  /* 当匹配到 .dark 类或 data-theme="dark" 时 */
  :root.dark, :root[data-theme="dark"] {
    background-color: var(--dark-default-bg);
    color: var(--dark-default-color);
  }
}